html,
body {
  min-height: 100vh;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  background-color: white;
}

.nevermore_top_icon img {
  margin-top: 10px;
  width: 100px;
  height: 40px;
}

.nav-button {
  background-color: rgb(129, 216, 129);
  width: 50px;
  height: 30px;
  margin-left: 20px;
  border: none;
  border-radius: 15px;
  color: rgb(40, 140, 241);
  cursor: pointer;
}

#navigation_button {
  align-items: center;
  display: flex;
}

.nav-button:hover {
  border: 2px solid rgb(40, 140, 241);
  color: rgb(40, 140, 241);
  transform: scale(1.05);
  transition: ease-in-out 0.2s;
}

/* .nevermore-top-title {
  display: flex;
  background-color: rgb(129, 216, 129);
  margin-left: 30px;
  width: 800px;
  height: 35px;
  border: none;
  border-radius: 20px;
  justify-content: center;
  align-items: center;
  color: rgb(40, 140, 241);
} */

.nevermore-top-title {
  /* background-color: rgb(129, 216, 129); */
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: 30px;
  padding: 4px 4px;
  width: 500px;
  border: none;
  border-radius: 9px;
  display: inline-block;
  text-align: center;
  font-weight: bold;
  font-size: 20px;
  color: #465c95;
}

.map-container {
  width: 400px;        /* Or specific width in px */
  height: 400px;      /* Or specific height in px */
  border: 1px solid black;  /* Optional, to visualize the container */
}
.CS-4_MURCIA_REGION_TITLE {
  margin-left: 150px;
  font-weight: bold;
  font-size: 20px;
}

#assets_and_risks_title {
  margin-top: 20px;
  text-align: center;
}

#TSH-select {
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
#TSH-select p {
  text-align: center;
  margin-left: 30px;
  font-size: 18px;
}

#TSH-select select {
  margin-left: 30px;
  font-size: 18px;
  width: 200px;
  height: 30px;
}

#TSH-select select option {
  text-align: center;
}

#location-on-map {
  display: flex;
  justify-content: center;
  margin-top: 30px;
}

.point-on-map-image img {
  height: 300px;
  text-align: center;
  padding: 10px 20px;
  border: 2px solid black;
}

.image-point-description {
  width: 386px;
  text-align: center;
  padding: 10px 20px;
  border: 2px solid black;
  height: 250px;
  overflow: auto;
}

.description_and_download button {
  margin-left: 30px;
  margin-top: 15px;
  background-color: rgb(129, 216, 129);
  border-radius: 10px;
  border: none;
  font-size: 15px;
  padding: 5px 5px;
}

.description_and_download button:hover {
  transform: scale(1.2);
  transition: ease-in-out 0.3s;
  color: rgb(40, 140, 241);
  border: 2px solid rgb(40, 140, 241);
}

#next-button {
  text-align: center;
  margin-top: 20px;
}

.the-next-button {
  background-color: rgb(129, 216, 129);
  border: none;
  padding: 4px 4px;
  border-radius: 15px;
  font-size: 16px;
  padding: 8px 10px;
  cursor: pointer;
  width: 100px;
  margin-bottom: 4.5rem;
  margin-left: 10px;
  margin-right: 10px;
}

.the-next-button:hover {
  border: 2px solid rgb(40, 140, 241);
  color: rgb(40, 140, 241);
  transform: scale(1.05);
  transition: ease-in-out 0.2s;
  font-weight: bold;
}

.the_footer {
  position: fixed;
  bottom: 0;
  width: 100%;
}

@media screen and (max-width: 600px) {
  .nevermore-top-title {
    width: 100%;
    font-size: 16px;
    margin-left: 10px;
  }

  #TSH-select{
    flex-direction: column;
  }

  #TSH-select select {
    margin-left: 0px;
    font-size: 18px;
    width: 200px;
    height: 30px;
  }

  #TSH-select p {
    text-align: center;
    margin-left: 0px;
    font-size: 18px;
  }

  .CS-4_MURCIA_REGION_TITLE {
    margin-left: 10px;
    font-size: 16px;
  }

  #location-on-map {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .description_and_download button {
    margin-left: 0px;
  }

  #next-button {
    margin-left: 0;
  }

  .the-next-button {
    margin-bottom: 4.5rem;
  }

  #navigation_button{
    justify-content: space-evenly;
  }
}

  @media screen and (min-width: 601px) and (max-width: 1024px) {
    .nevermore-top-title {
      width: 50%;
      font-size: 18px;
      margin-left: 20px;
    }
  
    .CS-4_MURCIA_REGION_TITLE {
      margin-left: 50px;
      font-size: 18px;
    }

    #location-on-map div{
      text-align: center;
      justify-items: center;
      align-items: center;
      
    }

    #navigation_button{
      justify-content: space-evenly;
    }

    #next-button {
      margin-left: 0;
    }
  
    .the-next-button {
      margin-bottom: 4.5rem;
    }
    
    .description_and_download button {
      margin-left: 0px;
    }
  }

  @media screen and (min-width: 1025px) {
    .nevermore-top-title {
      width: 500px;
      font-size: 20px;
      margin-left: 30px;
    }
  
    .CS-4_MURCIA_REGION_TITLE {
      margin-left: 150px;
      font-size: 20px;
    }

    #navigation_button{
      justify-content: space-evenly;
    }

        .the-next-button {
      margin-bottom: 4.5rem;
    }
  }

