<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Nevermore Case Study Tool Page</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="UTF-8" />
    <link rel="stylesheet" href="adaptation-indicators.component.css" />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />
  </head>
  <body>
    <!-- <section id="nevermore-top-icon" class="nevermore_top_icon">
      <img src="assets/logos/logo.png" alt="the-nevermore-logo" />
    </section> -->
    <section id="navigation_button">
      <button class="the-next-button"
       mat-raised-button
      [routerLink]="['/single_player/Climate_Change_Adaptation']"
      routerLinkActive="active"
      [routerLinkActiveOptions]="{ exact: true }"
      [disabled]="false">
      Back</button>
      <!-- <span class="nevermore-top-title">GAMIFICATION TOOL</span> -->
      <h2 class="nevermore-top-title">{{'GAMIFICATION_TOOL_COMPONENT.THE_GAMIFICATION_TOOL_TITLE' | translate}}</h2>

      <!-- <span class="mission_tool"
        >MISSION 2: CLIMATE CHANGE ADAPTATION</span
      > -->
      <h2 class="mission_tool"
        >{{'GAMIFICATION_TOOL_COMPONENT.SINGLE_PLAYER.MISSION_2_COMPONENT.MISSION_2_TITLE' | translate}}</h2
      >
    </section>

    <section id="graphs">
      <img
        src="assets/images/adaptation_graphs.png"
        alt="adaptation graphs"
        style="height: 550px"
      />
    </section>

    <section class="the_footer">
      <app-footer class="fixed bottom-0"></app-footer>
    </section>
  </body>
</html>
