<div class="external-container">
    <div class="wrapper">
      <!-- <app-header style="align-self: flex-end;"></app-header> -->
      <div class="about-us-content-wrapper">
        <div class="about-us-info">
            <img src="/assets/logos/logo.png" />
            <h1>{{'HEADER.ABOUT_US'| translate}}</h1>
            <p>
              Lorem ipsum dolor sit amet consectetur, adipisicing elit. Delectus fugit cupiditate quaerat! Voluptate iure sint quidem alias pariatur obcaecati eaque inventore tempora non, harum repellendus accusamus quos fugit ab assumenda sapiente voluptatem, et laudantium laboriosam, rerum mollitia reiciendis nihil? Eius et soluta impedit, esse iure minus quis porro! Sequi deserunt, praesentium temporibus quis nemo voluptatem quaerat quibusdam voluptatum.</p>
        </div>
      </div>
    </div>
    <app-footer class="fixed bottom-0"></app-footer>
  </div>