* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  html, body {
    width: 100%;
    min-height: 100vh;
    overflow-x: hidden; 
  }
  .wrapper {
    background-image: url('/assets/images/bg.PNG');
    background-size: cover;
    background-position: center;
    min-height: 92.3vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch;
    padding-top: 10px; 
    padding-right: 20px;
    overflow-x: hidden;
  }
  
  .help-content-wrapper{
    width: 100%;
  }
  
  .help-info {
    text-align: center;
    max-width: 800px;
    color: #000;
    margin: 7% auto;
  }
  
  .help-info img {
    width: 30%;
    height: auto;
    margin-bottom: 6%;
  }
  
  .help-info h1 {
    text-align: center; 
    font-size: 2rem;
    font-weight: bold;
    width: 52%;
    margin: 0 auto 20px auto;
  }
  
  .help-info p {
    font-size: 14px;
    line-height: 1.5;
    width: 90%;
    margin: 20px auto;
  }
  