<div class="external-container">
    <div class="wrapper">
        <div class="header-wrapper">

<button
    mat-raised-button
    [routerLink]="['/aboutUsInfo']"
    routerLinkActive="active"
    [routerLinkActiveOptions]="{ exact: true }"
    class="header-button"
  >
    <!-- About us -->
    About Us
  </button>

        <button
    mat-raised-button
    [routerLink]="['/helpInfo']"
    routerLinkActive="active"
    [routerLinkActiveOptions]="{ exact: true }"
    class="header-button"
  >
    <!-- About us -->
    Help
  </button>

  <button
    mat-raised-button
    [routerLink]="['/auth']"
    routerLinkActive="active"
    [routerLinkActiveOptions]="{ exact: true }"
    class="header-button"
  >
    <!-- Help -->
    Log In
  </button>

  <button
    mat-raised-button
    [routerLink]="['/auth']"
    routerLinkActive="active"
    [routerLinkActiveOptions]="{ exact: true }"
    class="header-button"
  >
    Register
  </button>
  </div>
           <div class="nevermore-logo"> <img src="/assets/logos/logo.png" /></div>

      <div class="login-content-wrapper">
        <div class="welcome-info">
          <!-- <h1>Welcome to NEVERMORE ICT Toolkit!</h1> -->


          <div class="tool-selection-description" style="font-size: 2.5vh;
    padding: 4vh;
    border-radius: 3vh;
    text-align: left;">
            
<h1 style="color:#465C95">Case Study Tool
</h1>
            
         <p>

The Local Case Study Tool aims to visualise the results of the risk analysis for each case study region. It provides different types of risk maps and interactive visualisations that help identify vulnerable areas, sectors, and groups from environmental, economic, and social perspectives. <br><br>

The process began with a detailed characterisation of each case study, including an assessment of relevant sectors, local priorities, and the social context. This work, supported by the analysis of social indicators, helps explain how people and communities experience climate impacts differently and which socio-economic factors influence their resilience, vulnerability, and capacity to adapt. Understanding these differences is essential, as climate change does not affect all groups equally. <br><br>
The tool will display the final outputs of the risk assessment through interactive maps and indicators, enabling users to explore risk factors and test adaptation and mitigation solutions in their regions. Thanks to the preliminary analysis, hazards and assets have been defined for each case study, and this information is fully integrated into the tool. In addition, the Local Tool is connected to the Policy Catalogue: selected mitigation and adaptation measures from the catalogue are implemented in the tool, allowing users to visualise the effects of specific policies and compare global and local scenarios for the same measure. <br><br>
The development of the tool is supported by contributions from Case Study Leaders and Local Councils. Case Study Leaders identified the natural hazards relevant to their territory and provided assets and historical data. They also helped ensure a shared understanding of risk concepts and expected outcomes. Local Councils contributed by identifying local climate impacts, vulnerable sectors, and critical assets, while offering insights into stakeholders’ perspectives on synergies, co-benefits, and trade-offs between policies. Their inputs also addressed policy gaps and ways to evaluate the success of different measures. <br><br>
The Local Case Study Tool will support policymakers, researchers and local actors in making informed decisions, while also raising awareness among civil society about climate risks  and adaptation needs. <br><br>

<div style="display: flex;justify-content: center"><img style="width:35vh" src="/assets/images/case-study-tool-image.png" alt=""></div>

            <!-- <p style="font-weight: 800; font-size: 17px;color: #003399;">{{tools[selectedToolIndex].name}} Description</p>
            <p>{{tools[selectedToolIndex].description}}</p> -->
            <div style="display: flex;justify-content: flex-end;">
            <button mat-raised-button
    [routerLink]="['/auth']"
    routerLinkActive="active"
    [routerLinkActiveOptions]="{ exact: true }"
    class="header-button-return">Return</button>
            </div>
          </div>
          <!-- <p>
            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Delectus fugit cupiditate quaerat! Voluptate iure sint quidem alias pariatur obcaecati eaque inventore tempora non, harum repellendus accusamus quos fugit ab assumenda sapiente voluptatem, et laudantium laboriosam, rerum mollitia reiciendis nihil? Eius et soluta impedit, esse iure minus quis porro! Sequi deserunt, praesentium temporibus quis nemo voluptatem quaerat quibusdam voluptatum.
          </p> -->
        </div>
        
        
          
      </div>
    </div>
    <div class="the_footer">
    <app-footer class="fixed bottom-0"></app-footer></div>
  </div>
  