<div class="footer-container">
    <div class="footer-inner">
      <div class="footer-content">
        <img src="assets/logos/eu_flag.jpg" style="height: 70%;">
        <!-- <div class="footer-text-bold">
          Founded by<br>the European Union
        </div>
        <div class="footer-text">
          This project has received funding from the European Union’s Horizon research and innovation program under grant agreement No 101056858
        </div> -->
        <div class="footer-text-bold">
          {{'FOOTER.EU_FUNDING_BY' | translate}}<br>{{'FOOTER.EU_FUNDING_UNION' | translate}}
        </div>
        <div class="footer-text">
            {{'FOOTER.EU_FUNDING_INFO' | translate}}
        </div>
        <img src="assets/logos/logo.png" style="height: 70%;">
      </div>
    </div>
  </div>
  