<!-- <div class="external-container">
  <div class="wrapper">
    <app-header style="align-self: flex-end"></app-header>
    <div class="catalogue-content-wrapper">
      <div class="catalogue-info">
        <img src="/assets/logos/logo.png" />
        <h1>
          {{
            "CATALOGUE_EXPLORER_COMPONENT.WELCOME_CATALOGUE_EXPLORER"
              | translate
          }}
        </h1>

        <p>
          Lorem ipsum dolor sit amet consectetur, adipisicing elit. Delectus
          fugit cupiditate quaerat! Voluptate iure sint quidem alias pariatur
          obcaecati eaque inventore tempora non, harum repellendus accusamus
          quos fugit ab assumenda sapiente voluptatem, et laudantium laboriosam,
          rerum mollitia reiciendis nihil? Eius et soluta impedit, esse iure
          minus quis porro! Sequi deserunt, praesentium temporibus quis nemo
          voluptatem quaerat quibusdam voluptatum.
        </p>
      </div>
    </div>
  </div>

  <section id="the_footer">
    <app-footer class="fixed bottom-0"> </app-footer>
  </section>
</div> -->



<div class="external-container">
  <div class="wrapper">
    <app-header style="align-self: flex-end; padding-bottom:10px;padding-right: 10px;"></app-header>
    <div class="eu-catalogue-wrapper">
      <iframe
        src="https://tools.cartif.es/nevermore-ams"
        id="rethink"
        frameborder="0"
        allow="fullscreen"
        style="border: none"
        height="100%"
        width="100%"
      ></iframe>
    </div>
  </div>
  <section class="the_footer">
    <app-footer class="fixed bottom-0" style="bottom: 0"></app-footer>
  </section>
</div>
