<div class="external-container">
    <div class="wrapper">
        <div class="header-wrapper">

<button
    mat-raised-button
    [routerLink]="['/aboutUsInfo']"
    routerLinkActive="active"
    [routerLinkActiveOptions]="{ exact: true }"
    class="header-button"
  >
    <!-- About us -->
    About Us
  </button>

        <button
    mat-raised-button
    [routerLink]="['/helpInfo']"
    routerLinkActive="active"
    [routerLinkActiveOptions]="{ exact: true }"
    class="header-button"
  >
    <!-- About us -->
    Help
  </button>

  <button
    mat-raised-button
    [routerLink]="['/auth']"
    routerLinkActive="active"
    [routerLinkActiveOptions]="{ exact: true }"
    class="header-button"
  >
    <!-- Help -->
    Log In
  </button>

  <button
    mat-raised-button
    [routerLink]="['/auth']"
    routerLinkActive="active"
    [routerLinkActiveOptions]="{ exact: true }"
    class="header-button"
  >
    Register
  </button>
  </div>
           <div class="nevermore-logo"> <img src="/assets/logos/logo.png" /></div>

      <div class="login-content-wrapper">
        <div class="welcome-info">
          <!-- <h1>Welcome to NEVERMORE ICT Toolkit!</h1> -->


          <div class="tool-selection-description" style="font-size: 2.5vh;
    padding: 4vh;
    border-radius: 3vh;
    text-align: left;">
            
<h1 style="color:#465C95">EU - Global scale Tool</h1>
            
         <p>

The EU-Global scale tool aims to offer information on the effects of adaptation and mitigation policies before implementation. It is based on WILIAM Integrated Assessment Model as a simulation engine and integrates for testing and simulation, climate related policies on adaptation and mitigation from those were included in the policy catalogue. <br><br>
The evaluation of policies will be quantitative, i.e., it will show policy trade-offs and which policies are more efficient or effective for different purposes, and qualitative, i.e., we will obtain different scenario pathways on how the future will be if different policies are implemented. The analysis and comparison of the different policy action scenarios will help to develop policy recommendations to mitigate and adapt to climate change impacts. <br><br>
The EU-Global scale tool will show the results of the implementation of a policy action scenario through graphs and relevant indicators in different dimensions (e.g. environmental, social, etc.) in a yearly basis throughout the simulated time series. Social Indicators are used as indexes that can help to compare the effects of policy implementation and understand how people behave differently and what socio-economic factors influence resilience and vulnerability of climate change and the effectiveness of the policies implemented. The presence of these indicators is important because climate change affects people differently and, in this way, the tool will help us to understand the impacts of climate change on the social component. <br><br>
The provided information will be used by both policymakers and researchers to make informed decisions. In addition, the results could be relevant to create awareness in civil society about climate change. <br>
<div style="display: flex;justify-content: center;"><img  src="/assets/images/global-scale-tool.png" alt=""></div>

            <!-- <p style="font-weight: 800; font-size: 17px;color: #003399;">{{tools[selectedToolIndex].name}} Description</p>
            <p>{{tools[selectedToolIndex].description}}</p> -->
            <div style="display: flex;justify-content: flex-end;">
            <button mat-raised-button
    [routerLink]="['/auth']"
    routerLinkActive="active"
    [routerLinkActiveOptions]="{ exact: true }"
    class="header-button-return">Return</button>
            </div>
          </div>
          <!-- <p>
            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Delectus fugit cupiditate quaerat! Voluptate iure sint quidem alias pariatur obcaecati eaque inventore tempora non, harum repellendus accusamus quos fugit ab assumenda sapiente voluptatem, et laudantium laboriosam, rerum mollitia reiciendis nihil? Eius et soluta impedit, esse iure minus quis porro! Sequi deserunt, praesentium temporibus quis nemo voluptatem quaerat quibusdam voluptatum.
          </p> -->
        </div>
        
        
          
      </div>
    </div>
    <div class="the_footer">
    <app-footer class="fixed bottom-0"></app-footer></div>
  </div>
  